services:
  db:
    image: mariadb:11.7.2-noble
    environment:
      MARIADB_ROOT_PASSWORD: root
      MARIADB_DATABASE: root_db
      MARIADB_USER: user
      MARIADB_PASSWORD: user
      TZ: America/Sao_Paulo
    ports:
      - "3306:3306"
    expose:
      - '3306'
    volumes:
      - db_data:/var/lib/mysql"
      - ./sql/:/docker-entrypoint-initdb.d/:ro
    restart: unless-stopped

  phpmyadmin:
    image: phpmyadmin:5.2.2-apache
    depends_on:
      - db
    environment:
      PMA_USER: root
      PMA_PASSWORD: root
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "8080:80"
    expose:
      - "8080"
    restart: unless-stopped

  php-app:
    image: php:8.4-apache
    volumes:
      - ./src:/var/www/html
    depends_on:
      - db
      - phpmyadmin
    ports:
      - "80:80"
    expose:
      - "80"
    restart: unless-stopped
    command: bash -c "a2enmod rewrite proxy proxy_http proxy_wstunnel && docker-php-ext-install mysqli pdo_mysql pdo && apache2-foreground"
  streamlit-app:
    build:
      context: . 
      dockerfile: Dockerfile.streamlit 
    ports:
      - "8501:8501" 
    depends_on:
      - db
    # --- CRITICAL VOLUME LINE ---
    volumes:
      - ./streamlit_app:/app  # <-- Maps local 'streamlit_app' to container's '/app' for live code changes
    # ---------------------------
    environment:
      PYTHONUNBUFFERED: 1 
    restart: unless-stopped
volumes:
  db_data: